body {
  width: 100%; }

a {
	
  text-decoration: none; }
ul li{  
list-style-type:none;  
}  
html, body, p, h1, h2, h3, h4, h5, h6, table, tr, td, th, ol, ul, li, dl, dd, dt, label, input, fieldset, hr, form {
  margin: 0;
  padding: 0; }

.bot {
  position: relative; }

.bot1 {
  height: 584px;
  background: url(../img/1.png) -200px; }

.bot2 {
  width: 100%;
  height: 72px;
  border-bottom: 1px solid #efe6e6;
  position: absolute;
  left: 0px;
  top: 0px; }

.bot_a {
  width: 1207px;
  margin: 0 auto; }

.bot21 {
  width: 846px;
  float: left; }

.bot21 img {
  width: 122px;
  height: 44px;
  margin-right: 40px;
  line-height: 72px;
  padding-top: 12px;
  float: left; }

.bot21 p {
  color: #ffffff;
  font-size: 20px;
  float: left;
  margin-right: 33px;
  text-decoration: none;
  line-height: 72px; }

.bot22 {
  width: 360px;
  float: right; }

.bot22 a {
  color: #ffffff;
  font-size: 14px;
  float: left;
  margin-right: 24px;
  text-decoration: none;
  line-height: 72px;
  font-weight: 100; }

.bot22 span {
  display: inline-block;
  width: 1px;
  height: 11px;
  float: left;
  font-size: 12px;
  margin: 30px 0 0 -13px;
  overflow: hidden;
  background-color: #fff; }

.bot221 {
  margin-top: 19px;
  height: 32px;
  width: 80px;
  border: 1px solid #fff;
  font-size: 12px;
  line-height: 32px;
  text-align: center;
  color: #fff;
  border-radius: 5px; }

.bot222 {
  margin-top: 19px;
  height: 32px;
  width: 80px;
  border: 1px solid #fff;
  font-size: 12px;
  line-height: 32px;
  text-align: center;
  color: #2788f7;
  border-radius: 5px;
  background: #ffffff; }

.bot3 {
  width: 100%;
  height: 400px;
  display: none;
  background: #292e33; }

.bot301 {
  width: 1207px;
  height: 400px;
  margin: 0 auto;
  margin-top: 74px;
  position: relative; }

.bot31 {
  border-right: 1px solid #3f4348;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  width: 180px;
  height: 340px;
  margin-top: 27px;
  background-color: #292e33; }

.bot31 p {
  font-size: 14px;
  color: #0080ff;
  text-align: center;
  margin-top: 10px; }

.bot32 {
  margin-top: 27px;
  position: absolute;
  top: 10px;
  left: 180px;
  right: 0;
  width: 1027px;
  height: 340px; }

.bot321 {
  margin-left: 23px;
  width: 440px;
  height: 70px;
  background: #3f4348;
  float: left;
  margin-bottom: 20px; }

.bot321 h4 {
  font-size: 14px;
  color: #ffffff;
  padding-top: 8px;
  line-height: 27px;
  padding-left: 19px; }

.bot321 p {
  font-size: 12px;
  color: #999999;
  margin-bottom: 9px;
  line-height: 25px;
  padding-left: 19px; }

.bom {
  width: 1207px;
  height: 120px;
  margin: 0 auto; }

.bom1 {
  width: 300px;
  display: block;
  float: left; }

.bom1 img {
  display: inline-block;
  margin-top: 30px;
  width: 102px;
  height: 60px;
  float: left; }

.bom2 {
  float: left;
  margin-left: 10px; }

.bom2 h3 {
  font-size: 16px;
  color: #333;
  font-weight: 100;
  line-height: 24px;
  margin-top: 36px; }

.bom2 p {
  font-size: 12px;
  color: #999;
  margin-bottom: 30px;
  line-height: 30px; }

.bot4 {
  width: 100%;
  height: 400px;
  display: none;
  background: #292e33; }

.bot2:hover {
  background: #292e33; }

.bot_a p:hover {
  color: #007fff;
  border-bottom: 1px solid #007fff; }

.bot2 .bot221:hover {
  color: #fff; }

.bot2 .bot22 p:hover {
  border-bottom: 1px solid #fff; }

#bot321:hover {
  background: #007fff; }

.bot321 :hover p {
  color: #fff; }

.bot31 p:hover {
  width: 180px;
  height: 40px;
  background: #007fff;
  color: #fff;
  line-height: 40px;
  text-align: center; }

.bom2:hover h3 {
  color: #007fff; }

#acc {
  width: 100%;
  height: 633px;
  background: #e2e6e6; }

#acc_1 {
  width: 1207px;
  height: 633px;
  margin: 0 auto; }
#acc_a h2{
	 text-align: center;
  line-height: 44px;
  font-size: 36px;
  color: #333;
  font-weight: 100;
  padding-top: 85px;
}
#acc_max{
	width: 1207px;
	height: 362px;
	padding: 60px 0px 60px 0px;
	/*background: pink;*/
}
#acc_bb{
	display: table;
	margin:0 auto;
	padding-top: 70px;
}
/*#acc_ba{
	width: 280px;
	height: 362px;
	background: #fff;
}
#acc_ba h4{
	text-align: center;
	margin:30px 0 87px 0;
}
#acc_ba p{
	float: left;
  margin-left: 3.5%;
  margin-bottom: 10px;
  width: 44%;
  height: 30px;
  border: 1px solid #e6e6e6;
  line-height: 30px;
  text-align: center;
  font-size: 12px;
  color: #666;
}*/

#acc_ca{
	width: 280px;
	height: 402px;
	background: #fff;
	float:left;
	
}
#acc_cb{
	display: table;
	margin:0 auto;
	padding-top: 130px;
}
#acc_ca h4{
	font-size: 18px;
  color: #000000;
  text-align: center;
  padding-top: 30px;
}
#acc_cc{
	width: 318px;
	height: 402px;
	background: #f5f6f7;
	float:left;
}
#acc_cc h2{
	line-height: 76px;
  margin-top: 30px;
  font-size: 18px;
  color: #333;
  margin-left: 20px;
}
#acc_cca {
  line-height: 27px;
  font-size: 14px;
  color: #666;
  margin-left: 20px;
   }
  #acc_cc h5 {
  margin-top: 105px;
  font-size: 16px;
  color: #000;
  margin-left: 20px;
  text-align: center; 
  }
 #acc_cc span {
  font-size: 27px;
  color: #ff6600;
  text-align: center;
   }
  #acc_ce {
  width: 100px;
  height: 32px;
  background: #0080ff;
  border-radius: 5px;
  line-height: 32px;
  float: left;
  text-align: center;
  border: 1px solid #0080ff;
  margin-top: 40px;
  margin-left: 47px; }

#acc_cd {
  width: 100px;
  height: 32px;
  line-height: 32px;
  border-radius: 5px;
  border: 1px solid #0080ff;
  float: left;
  color: #0080ff;
  text-align: center;
  margin-top: 40px;
  margin-left: 13px; 
  }
 #acc_tow_b{
 	width: 280px;
	height: 362px;
	background: #fff;
	float:left;
	margin-left: 18px;
	margin-top:20px;
 }
 #acc_tow_c{
 	display: table;
	margin:0 auto;
	padding-top: 70px;
 }
 #acc_tow_b h4{
	text-align: center;
	margin:30px 0 87px 0;
}
#acc_tow_b p{
	float: left;
  margin-left: 3.5%;
  margin-bottom: 10px;
  width: 44%;
  height: 30px;
  border: 1px solid #e6e6e6;
  line-height: 30px;
  text-align: center;
  font-size: 12px;
  color: #666;
}

#acc_three_b{
 	width: 280px;
	height: 362px;
	background: #fff;
	float:left;
	margin-left: 18px;
	margin-top:20px;
 }
 #acc_three_ba{
 	display: table;
	margin:0 auto;
	padding-top: 70px;
 }
 #acc_three_b h4{
	text-align: center;
	margin:30px 0 87px 0;
}
#acc_three_b p{
	float: left;
  margin-left: 3.5%;
  margin-bottom: 10px;
  width: 44%;
  height: 30px;
  border: 1px solid #e6e6e6;
  line-height: 30px;
  text-align: center;
  font-size: 12px;
  color: #666;
}








#select {
  width: 100%;
  height: 485px;
  background: #fff; }

#select_a {
  width: 1207px;
  height: 485px;
  margin: 0 auto; }

#select_b {
  font-size: 32px;
  color: #333333;
  text-align: center;
  margin-top: 87px;
  margin-bottom: 60px; }

#select_c_a {
  width: 384px;
  height: 240px;
  padding-top: 20px;
  margin-right: 5px;
  float: left; 
  	&:hover {
		box-shadow: 0px 0px 5px 5px #c2c1c1; 	
	}
}

#select_c_a:hover h4{
	color: #0080ff;
}
#select_c_a:hover #select_c_aa{
	background: url(../img/12.png) 0px -100px;
}

#select_c_aa {
  background: url(../img/12.png) 0px 0px;
  width: 100px;
  height: 100px;
  margin: 30px auto 0; 
}

#select_c_a h4 {
  text-align: center;
  font-size: 18px;
  color: #333333;
  line-height: 34px;
  margin-top: 25px; }

#select_c_a p {
  text-align: center;
  font-size: 12px;
  color: #999;
  line-height: 27px;
  margin: 6px 0 80px 0; }


#select_c_b {
  width: 384px;
  height: 240px;
  padding-top: 20px;
  float: left;
  margin-right: 5px; 
  &:hover {
		box-shadow: 0px 0px 5px 5px #c2c1c1; 	
	}
}
#select_c_b:hover h4{
	color: #0080ff;
}
#select_c_b:hover #select_c_ba{
	background: url(../img/12.png) 100px -100px;
}
#select_c_ba {
  background: url(../img/12.png) 100px 0px;
  width: 100px;
  height: 100px;
  margin: 30px auto 0; 
}

#select_c_b h4 {
  text-align: center;
  font-size: 18px;
  color: #333333;
  line-height: 34px;
  margin-top: 25px; }

#select_c_b p {
  text-align: center;
  font-size: 12px;
  color: #999;
  line-height: 27px;
  margin: 6px 0 80px 0; }

#select_c_d {
  width: 384px;
  height: 240px;
  padding-top: 20px;
  float: left;
  margin-right: 5px; 
	&:hover {
		box-shadow: 0px 0px 5px 5px #c2c1c1; 	
	}
}
#select_c_d:hover h4{
	color: #0080ff;
}
#select_c_d:hover #select_c_da{
	background: url(../img/12.png) 200px -100px;
}
#select_c_da {
  background: url(../img/12.png) 200px 0px;
  width: 100px;
  height: 100px;
  margin: 30px auto 0;
	&:hover{
	background: url(../img/12.png) 200px -100px;
	}
   }

#select_c_d h4 {
  text-align: center;
  font-size: 18px;
  color: #333333;
  line-height: 34px;
  margin-top: 25px; }

#select_c_d p {
  text-align: center;
  font-size: 12px;
  color: #999;
  line-height: 27px;
  margin: 6px 0 80px 0; }

#lbt {
  width: 100%;
  height: 500px;
  background: #292e33; 
}

#lbt_a {
  width: 1207px;
  height: 500px;
  margin: 0 auto; 
  overflow:hidden;
  position:relative;
}
#lbt_b{
	position:absolute; 
	left:0px; 
	top:0px; 
	width:1200px; 
	height:500px;
}
#lbt_ba {
  width: 300px;
  height: 500px;
  background-image: url(../img/8.jpg);
  float: left; }

#lbt_ba_a {
  width: 60px;
  height: 60px;
  background: url(../img/13.png) 0px 0px;
  margin: 170px auto 0; }

#lbt_ba h4 {
  font-size: 20px;
  color: #fff;
  text-align: center;
  margin-top: 55px; }

#lbt_bb {
  width: 300px;
  height: 500px;
  background-image: url(../img/9.jpg);
  float: left;
  position: relative; }

#lbt_bb_c {
  font-size: 20px;
  color: #fff;
  text-align: center;
  margin-top: 55px; }

#lbt_bb_b {
  width: 300px;
  height: 500px;
  background: #3f4347;
  opacity: 0.6;
  position: absolute;
  left: 0px;
  top: 0px; }

#lbt_bb_a {
  width: 60px;
  height: 60px;
  background: url(../img/13.png) 0px -60px;
  margin: 170px auto 0; }

#lbt_bc {
  width: 300px;
  height: 500px;
  background-image: url(../img/11.jpg);
  float: left; }

#lbt_bc_a {
  width: 60px;
  height: 60px;
  background: url(../img/13.png) 0px -120px;
  margin: 170px auto 0; }

#lbt_bc h4 {
  font-size: 20px;
  color: #fff;
  text-align: center;
  margin-top: 55px; }

#lbt_bd {
  width: 300px;
  height: 500px;
  background-image: url(../img/7.jpg);
  float: left;
  position: relative; 
}

#lbt_bd_b {
  width: 300px;
  height: 500px;
  background: #3f4347;
  opacity: 0.6;
  position: absolute;
  left: 0px;
  top: 0px; }

#lbt_bd_a {
  width: 60px;
  height: 60px;
  background: url(../img/13.png) 0px -180px;
  margin: 170px auto 0;
  z-index: 999; }

#lbt_bd h4 {
  font-size: 20px;
  color: #fff;
  text-align: center;
  margin-top: 55px;
  z-index: 999;
   }
 #lbt_be {
  width: 300px;
  height: 500px;
  background-image: url(../img/10.jpg);
  position: absolute;
  left:1200px;
  top:0px;
  position: relative;
	padding-top:160px;
   }
#lbt_be_a {
  width: 60px;
  height: 60px;
  background: url(../img/13.png) 0px -240px;
  z-index: 999;
	position: absolute;
  left:130px;
  top:170px;
   }

#lbt_be h4 {
  font-size: 20px;
  color: #fff;
  text-align: center;
  margin-top: 55px;
  z-index: 999;
	position: absolute;
   left: 87px;
   top: 230px;
   }

#lbt_c{
	z-index: 9999;
	color:red;
	 position: relative; 
}
#lbt_ca{
	 position: absolute;
	 left:156px;
	 top:-300px;
	 width:50px;
	 height:50px;
}
#lbt_cb{
	 position: absolute;
	 left:1372px;
	 top:-300px;
	 width:50px;
	 height:50px;
}
#map {
  width: 100%;
  height: 850px; 
  background: #eff0f0;
  }

#map_a {
  width: 1207px;
  height: 850px;
  margin: 0 auto; }

#map_b p {
  font-size: 34px;
  color: #333333;
  text-align: center;
  padding-top: 88px; }

#map_ca {
  background-image: url(../img/14.png);
  height: 601px;
  width: 100%;
  margin: 0 auto;
  margin-top: 32px; }

#map_cb_a {
  position: relative; }

#map_cb_aa {
  position: absolute;
  left: 1018px;
  top: -393px;
  font-size: 18px;
  color: #808080; }

#map_cb_ab {
  background-image: url(../img/15.png);
  position: absolute;
  left: 985px;
  top: -388px;
  width: 22px;
  height: 22px; 
  }
#map_cb_b {
  position: relative; }

#map_cb_ba {
  position: absolute;
  left: 995px;
  top: -338px;
  font-size: 18px;
  color: #808080; }

#map_cb_bb {
  background-image: url(../img/15.png);
  position: absolute;
  left: 971px;
  top: -333px;
  width: 22px;
  height: 22px; }

#map_cb_c {
  position: relative; }

#map_cb_ca {
  position: absolute;
  left: 883px;
  top: -300px;
  font-size: 18px;
  color: #808080; }

#map_cb_cb {
  background-image: url(../img/15.png);
  position: absolute;
  left: 928px;
  top: -308px;
  width: 22px;
  height: 22px; }
#map_cb_d {
  position: relative; }

#map_cb_da {
  position: absolute;
  left: 980px;
  top: -299px;
  font-size: 18px;
  color: #808080; }

#map_cb_db {
  background-image: url(../img/15.png);
  position: absolute;
  left: 950px;
  top: -299px;
  width: 22px;
  height: 22px; }
#map_cb_e {
  position: relative; }
#map_cb_ea{
	background-image: url(../img/16.png);
  position: absolute;
  left: 927px;
  top: -375px;
  width: 22px;
  height: 22px; }
#map_cb_f{
	position: relative;
}
#map_cb_fa{
	background-image: url(../img/16.png);
  position: absolute;
  left: 646px;
  top: -400px;
  width: 22px;
  height: 22px; }
 #map_cb_g{
 	position: relative;
 }
#map_cb_ga{
	background-image: url(../img/16.png);
  position: absolute;
  left: 156px;
  top: -485px;
  width: 22px;
  height: 22px; }
#map_cb_h{
	position: relative;
}
#map_cb_ha{
	background-image: url(../img/16.png);
  position: absolute;
  left: 273px;
  top: -370px;
  width: 22px;
  height: 22px; }
 #map_cb_i{
 	position: relative;
 }
 #map_cb_ia{
	background-image: url(../img/16.png);
  position: absolute;
  left: 356px;
  top: -162px;
  width: 22px;
  height: 22px;
	transfprm:scale(1.5);
   }
 #map_d{
 	text-align: center;
 	position: relative;

 }
#map_da{
	background-image: url(../img/15.png);
  width: 22px;
  height: 22px;
   position: absolute;
	 left:495px;
	 top:15px;
   }
#map_d p{
	font-size:14px;
	color:#0080ff; 
	 position: absolute;
	 left:520px;
	 top:15px;
}
#map_e{
 	text-align: center;
 	position: relative;
 }
#map_ea{
	background-image: url(../img/16.png);
  width: 22px;
  height: 22px;
   position: absolute;
	 left:617px;
	 top:15px;
   }
#map_e p{
	font-size:14px;
	color:#0080ff;
	 position: absolute;
	 left:640px;
	 top:15px;
}
#zxdt{
	width:100%;
	height:584px;
}
#zxdt_a{
	width:1207px;
	height:584px;
	margin: 0 auto;
}
#zxdt_b h3{
	font-size: 35px;
	color:#333333;
	text-align:center;
	margin-top:88px ;
}
#zxdt_ca{
	width: 346px;
	height: 340px;;
	position: relative;
	padding-top:20px;
	float: left;
	margin: 67px 40px 0 2px;
	overflow: hidden;
}
#zxdt_ca_a{
	width: 346px;
	height: 160px;
	margin-left:25px;
	margin-bottom: 12px;
	overflow: hidden;
}
#zxdt_ca_a img{
	width: 346px;
	height: 160px;
	&:hover{
		transition: all 1s;
		width: 390px;
		height:180px;
	}
}
#zxdt_ca_aa{
	width:346px;
	height:40px;
	background:#2c87eb;
	position: absolute;
	left:25px;
	top:140px;
	opacity: 0.4;
}
#zxdt_ca h4{
	font-size:18px;
	color:#fff;
	position: absolute;
	left:157px;
	top:149px;
}
#zxdt_ca p{
	font-size:14px;
	color:#333;
	margin-left:25px ;
	line-height: 33px;
	margin-right:10px ;
	width: 318px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
#zxdt_ca span{
	font-size:14px;
	color:#999;
}
#zxdt_ca p:hover{
	color: #1b7bde;
}

#mfzc{
	width: 100%;
	height: 160px;
	background-image: url(../img/4.jpg);
}
#mfzc_b{
	height: 90px;
    line-height: 100px;
    font-size: 24px;
    color: #fff;
    text-align: center;
}
#mfzc_c{
	display: block;
    margin: 0 auto;
    width: 120px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    color: #188ae0;
    border-radius: 3px;
    background: #fff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
#bott{
	width: 100%;
	height: 385px;
	background:#292e33;
	border-bottom:1px solid #3f4348;
}
#bott_a{
	width: 1207px;
	height: 385px;
	margin:0 auto;
}
#bott_b{
	width: 100%;
	height: 115px;
	border-bottom:1px solid #3f4348;
	 display: flex;
   justify-content:space-around;
   align-items:center;
}
#bott_b span{
	font-size:16px;
	color:#fff;
	float:left;
	line-height: 36px;
}
#bott_b img{
	float: left;
	margin-right: 20px;
}
/*#bott_b_a{
	width: 240px;
	height: 36px;
}*/

#bott_b_aa{
	width: 38px;
	height: 38px;
	background: url(../img/5.png) 0px 0px;
	float:left;
}
#bott_b_a:hover #bott_b_aa{
  background: url(../img/5.png) -38px 0px;
}
#bott_b_ba{
  width: 38px;
  height: 38px;
  background: url(../img/5.png) 0px -40px;
  float:left;
}
#bott_b_b:hover #bott_b_ba{
  background: url(../img/5.png) -38px -40px;
}
#bott_b_ca{
  width: 38px;
  height: 38px;
  background: url(../img/5.png) 0px -80px;
  float:left;
}
#bott_b_c:hover #bott_b_ca{
  background: url(../img/5.png) -38px -80px;
}
#bott_b_da{
  width: 38px;
  height: 38px;
  background: url(../img/5.png) 0px -120px;
  float:left;
}
#bott_b_d:hover #bott_b_da{
  background: url(../img/5.png) -38px -120px;
}
#bott_b_ea{
  width: 38px;
  height: 38px;
  background: url(../img/5.png) 0px -158px;
  float:left;
}
#bott_b_e:hover #bott_b_ea{
  background: url(../img/5.png) -38px -158px;
}
#bott_c{
	width:100%;    
	height:273px;
}
.ff{
	width:828px;
	height:211px;
	float:left;
}
.fd ul{
		margin:0 auto ;
		line-height:24px;
		float:left;
		padding-right:103px;
}
	.fd a{
		line-height: 32px;
		margin-top:6px;
		font-size:16px;
		color:#395166;
	}		
	.fb{
		color:#bdbebf;
		font-size:18px;
		padding-top:28px;
		line-height: 49px;
}
#bott_ca{
	float: left;
	width: 300px;
	height: 203px;
	margin: 28px 0 0 78px;
	
}
#bott_ca_a h4{
	color:#bdbebf;
		font-size:18px;
		/*padding-top:28px;*/
		line-height: 49px;
}
#bott_ca_b p{
	line-height: 32px;
		margin-top:6px;
		font-size:16px;
		color:#395166;
}
#bott_ca_b span{
	color:#fff;
}
#bott_ca_b p:hover{
	color:#fff;
}
#bott_ca_b img:hover{
  color:#0080ff; 
}
#bott_b_a span:hover {
  color:#0080ff; 
}
#bott_b_b span:hover{
  color:#0080ff;
}
#bott_b_c span:hover{
  color:#0080ff;
}
#bott_b_d span:hover{
  color:#0080ff;
}
#bott_b_e span:hover{
  color:#0080ff;
}

#bott_ca_c{
	margin-top:25px;
}
#bp{
	width: 100%;
	height: 70px;
	background: #292e33;
}
#bp_a{
	width: 1207px;
	height: 70px;
	margin: 0 auto;
}
#bp_a p{
	text-align: center;
    color: #525c66;
    font-size: 12px;
    line-height: 70px;
	
}
#bp_a a{
	color: #525c66;
}
#bp_a a:hover{
	text-decoration: underline;
}
.fd a:hover {
  color:#fff;
  text-decoration:underline;
}
